<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>線上點餐</title>
    <link rel="stylesheet" href="stylecss.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="scrolladmin">
    <header>
        <img src="00/201.png" alt="Your Image" class="header-image" id="logo">
        <div class="button-container">
            
            <h2>XX Restaurant</h2>
            <p>於2023年誕生的「XX restaurant」，提供精品咖啡及西式餐點</p>
            
        </div>
    </header>

    <div class="hideside"></div>
    

    <div class="new-block" id="section2">
        <div class="signall">
            <div><button id="sign"><a style="text-decoration: none; color: rgb(253, 251, 251);"
                        href="#">{{recordname}}</a></button></div>
            <div><button id="sign-up"><a style="text-decoration: none; color: rgb(253, 251, 251);"
                        href="/auth/logout">登出</a></button></div>
        </div>

        <h2>餐點介紹</h2>
        <p>品味美食，滿足味蕾的奢享！</p>
        <div class="button-new">

            <div class="new-button-new">
                <img src="00/1106-2.jpg" alt="蛋包飯">
                <p>$90</p>
                蛋包飯
                <button id="omuricebuycarbtn">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-7.jpg" alt="焗飯">
                <p>$50</p>
                焗飯
                <button id="bakedricebuycarbtn">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-4.jpg" alt="千層麵">
                <p>$80</p>
                千層麵
                <button id="melaleucabuycarbtn">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/224.jpg" alt="披薩">
                <p>$399</p>
                披薩
                <button id="pizzabuycarbtn">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-5.jpg" alt="義大利麵">
                <p>$115</p>
                義大利麵
                <button id="pastabuycarbtn">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-6.jpg" alt="燉飯">
                <p>$120</p>
                燉飯
                <button id="stewbuycarbtn">加入購物車</button>
            </div>

        </div>
        <button id="buycar" onclick="windowopen()">購物車</button>

        <div class="cartWindow">
            <!-- 視窗內容 -->
            <h2>
                <nobr>你的餐點清單</nobr>
            </h2>
            <div id="x">x</div>

            <div id="fooditems">
                <input type="number" name="shstime" id="shstime" value="{{recordtime}}" style="display: none;"
                    readonly>
                <div id="flytime"></div>
            </div>

            <div class="calculate">
                <div id="money">金額：</div>
                <div id="time">時間：</div>
                <form action="/auth/order" method="post" id="orderForm">
                    <input type="text" name="price" id="sqlprice" style="display: none;">
                    <input type="text" name="time" id="sqltime" style="display: none;">

                    <button id="order" type="submit">買單</button>
                </form>
            </div>


        </div>




</body>
<script src="scriptjs.js"></script>
<script src="scriptjs2.js"></script>

</html>
