<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="stylecss.css">
</head>

<body class="scrolladmin">
    <header>
        <img src="00/201.png" alt="Your Image" class="header-image" id="logo">
        <div class="button-container">
            
            <h2>XX Restaurant</h2>
            <p>於2023年誕生的「XX restaurant」，提供精品咖啡及西式餐點</p>

        </div>
    </header>

    <div class="hideside"></div>
    

    <main id="section1">
        <div class="sign-in">
            {{#if message}}<div id="messsagebox">{{message}}</div>{{/if}}
            <h2>登入</h2>

            <form action="/auth/login" method="post">
                <div id="emailcontainer">
                    <img src="https://cdn-icons-png.flaticon.com/512/552/552486.png" width="50px" height="50px">
                    <label for="email">
                        <nobr>信箱</nobr>
                    </label>
                    <input type="email" name="email" id="email" placeholder="email">
                </div>

                <div id="passwordcontainer">
                    <img src="https://cdn-icons-png.flaticon.com/512/1000/1000957.png" width="50px" height="50px">
                    <label for="password"><nobr>密碼</nobr></label>
                    <input type="password" name="password" id="password" placeholder="password">
                </div>


               

                <input type="submit" id="sin" value="登入">
                <div class="sign-up">
                    <a href="/index4">沒有帳號?註冊</a>
                </div>
            </form>



        </div>
        <img src="00/111.jpeg" alt="Your Image" id="topimg">


    </main>



    <div class="new-block" id="section2"></div>





</body>
<script src="scriptjs.js"></script>
<script src="scriptjs2.js"></script>

</html>