<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>線上點餐</title>
    <link rel="stylesheet" href="stylecss.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="scrolladmin">
    <header>
        <img src="00/201.png" alt="Your Image" class="header-image" id="logo">
        <div class="button-container">
            <button class="button" onclick="scrollhome()">單點餐點</button>
            <button class="button" onclick="scrollmeal()">本店套餐</button>
            <button class="button" onclick="scrollforever()"><nobr>本店飲品</nobr></button>
            <button class="button" onclick="scrollus()">本店甜點</button>
            
            <div id="sidebarbtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                    class="bi bi-layout-text-sidebar" viewBox="0 0 16 16">
                    <path
                        d="M3.5 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM3 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                    <path
                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm12-1v14h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 0H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h9V1z" />
                </svg>
            </div>

        </div>
    </header>

    <div class="hideside"></div>
    <div class="sidebars" id="sidebarsID">
        <button class="sidebutton" onclick="scrollhome()">單點餐點</button>
        <button class="sidebutton" onclick="scrollmeal()">本店套餐</button>
        <button class="sidebutton" onclick="scrollforever()">本店飲品</button>
        <button class="sidebutton" onclick="scrollus()">本店甜點</button>
        
    </div>

    
    <div class="new-block" id="section2">
        <div class="signall">
            <div><button id="sign"><a style="text-decoration: none; color: rgb(253, 251, 251);"
                href="/index3">登入</a></button></div>
            <div><button id="sign-up"><a style="text-decoration: none; color: rgb(253, 251, 251);"
                href="/index4">註冊</a></button></div>
        </div>
        
        <h2>單點餐點</h2>
        <p>品味美食，滿足味蕾的奢享！</p>
        <div class="button-new">

            <div class="new-button-new">
                <img src="00/1106-2.jpg" alt="蛋包飯">
                <p>$90</p>
                蛋包飯
                <button id="omuricebuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-7.jpg" alt="焗飯">
                <p>$50</p>
                焗飯
                <button id="bakedricebuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-4.jpg" alt="千層麵">
                <p>$80</p>
                千層麵
                <button id="melaleucabuycarbtn" onclick="window.location.href='/index3'" >加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/224.jpg" alt="披薩">
                <p>$399</p>
                披薩
                <button id="pizzabuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-5.jpg" alt="義大利麵">
                <p>$115</p>
                義大利麵
                <button id="pastabuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-6.jpg" alt="燉飯">
                <p>$120</p>
                燉飯
                <button id="stewbuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

        </div>

        <h2>本店套餐</h2>
        <p>多樣美味，滿足您的味蕾，物超所值的套餐餐點。</p>
        <div class="button-new">

            <div class="new-button-new">
                <img src="00/1106-2.jpg" alt="蛋包飯套餐">
                <p>$150</p>
                蛋包飯套餐
                <button id="omuricecombobuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-3.jpg" alt="鬆餅套餐">
                <p>$50</p>
                鬆餅套餐
                <button id="muffinbuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-8.jpg" alt="舒芙蕾套餐">
                <p>$80</p>
                舒芙蕾套餐
                <button id="soufflebuycarbtn" onclick="window.location.href='/index3'" >加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-9.jpg" alt="蛋糕套餐">
                <p>$399</p>
                蛋糕套餐
                <button id="cakebuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-5.jpg" alt="義大利麵套餐">
                <p>$115</p>
                義大利麵套餐
                <button id="pastacombobuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-10.jpg" alt="聖代套餐">
                <p>$120</p>
                聖代套餐
                <button id="sundaebuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

        </div>

        <h2>本店飲品</h2>
        <p>清新口感，滿滿果香，是解渴的極致享受。</p>
        <div class="button-new">

            <div class="new-button-new">
                <img src="00/1106-11.jpg" alt="紅茶">
                <p>$30</p>
                紅茶
                <button id="blackteabuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-12.jpg" alt="美式">
                <p>$30</p>
                美式
                <button id="americanbuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-13.jpg" alt="拿鐵">
                <p>$40</p>
                拿鐵
                <button id="lattebuycarbtn" onclick="window.location.href='/index3'" >加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-14.jpg" alt="卡布奇諾">
                <p>$50</p>
                卡布奇諾
                <button id="cappuccinobuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-15.jpg" alt="瑪奇朵">
                <p>$55</p>
                瑪奇朵
                <button id="macchiatobuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-16.jpg" alt="熱可可">
                <p>$30</p>
                熱可可
                <button id="hotcocobuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

        </div>

        <h2>本店甜點</h2>
        <p>口感絲滑，甜蜜誘惑，每一口都是幸福滋味。</p>
        <div class="button-new">

            <div class="new-button-new">
                <img src="00/1106-17.jpg" alt="蜜糖吐司">
                <p>$30</p>
                蜜糖吐司
                <button id="honeytoastbuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-3.jpg" alt="鬆餅">
                <p>$50</p>
                鬆餅
                <button id="waffledessertbuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-8.jpg" alt="舒芙蕾">
                <p>$60</p>
                舒芙蕾
                <button id="souffledessertbuycarbtn" onclick="window.location.href='/index3'" >加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-18.jpg" alt="薯條">
                <p>$40</p>
                薯條
                <button id="friebuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-19.jpg" alt="蛋塔">
                <p>$25</p>
                蛋塔
                <button id="eggtartbuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

            <div class="new-button-new">
                <img src="00/1106-20.jpg" alt="冰淇淋">
                <p>$50</p>
                冰淇淋
                <button id="icecreambuycarbtn" onclick="window.location.href='/index3'">加入購物車</button>
            </div>

        </div>

        <button id="buycar" onclick="windowopen()" onclick="window.location.href='/index3'">購物車</button>

        <div class="cartWindow">
            <!-- 視窗內容 -->
            <h2>
                <nobr>你的餐點清單</nobr>
            </h2>
            <div id="x">x</div>

            <div id="fooditems"></div>

            <div class="calculate">
                <div id="money">金額：</div>
                <div id="time">時間：</div>
                <button id="order">買單</button>

            </div>
           

        </div>




</body>
<script src="scriptjs.js"></script>


</html>
